<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Jobeet{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'
                '@BootcampLayoutBundle/Resources/public/css/style.css'
            %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        
         <div class="container">

          <div class="masthead">
            
            <p class="pull-right">
                {% if app.user %}
                  
                  Witaj {{ app.user.username }}, 
                  {% if is_granted("ROLE_USER") %}
                    <a href="{{ path('bootcamp_panel_homepage') }}" >panel użytkownika</a>
                  {% endif %}
                  
                  {% if is_granted("ROLE_ADMIN") %}
                    , <a href="{{ path('bootcamp_admin_homepage') }}" >panel administratora</a>
                  {% endif %}
                  
                  <a href="{{ path('fos_user_security_logout') }}">[wyloguj]</a>
               
                {% else %}
                     <a href="{{ path('fos_user_security_login') }}">zaloguj się</a>
                {% endif %}
            </p>
    
            <h3 class="text-muted">Jobeet - Portal z ogłoszeniami</h3>
   
           <div class="navbar-collapse collapse" id="navbar">
            
                {{ knp_menu_render('BootcampLayoutBundle:Builder:mainMenu') }}
                
           </div> 
         
          </div>
     
          {% for flashMessage in app.session.flashbag.get('notice') %}
              
            <div class="alert alert-success" role="alert">
                {{ flashMessage }}
  
            </div>
        {% endfor %}
    
        {% block body %}{% endblock %}
    
          <!-- Site footer -->
          <div class="footer">
            <p>&copy; Company 2014</p>
          </div>
    
        </div> <!-- /container -->
        
        
        {% block javascripts %}
            {% javascripts
	        	'https://code.jquery.com/jquery-1.11.1.min.js'
	        	'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'
	        	'@BootcampLayoutBundle/Resources/public/js/scripts.js'
	        %}
	        	<script src="{{ asset_url }}"></script>
	        {% endjavascripts %}
        {% endblock %}
    </body>
</html>