{% extends 'BootcampLayoutBundle::layout.html.twig' %}
{% block title %}Jobeet-Strona główna{% endblock %}
{% block body %}
    

    <div class="row">
             
        </br>   
        <center>
    <a href="{{ path('bootcamp_panel_new') }}" class="btn btn-primary pull-center">Dodaj ofertę pracy</a>
        </center>   
    </div>
    </br>
        {# if app.user #}
    {% if is_granted('ROLE_USER') %}  
        {% else %}
        
        <p><a href="{{ path('fos_user_security_login') }}" ></a></p>
        
    {% endif %}
    <center>
        <h2>Najnowsze oferty:</h2>
    </center>
    </br>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Nazwa firmy</th>
            <th>Stanowisko</th>
            <th>Lokalizacja</th>
            <th>E-mail</th>
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
        <tr>
            <td>{{ job.campanyName }}</td>
            <td>{{ job.position }}</td>
            <td>{{ job.location }}</td>
            <td>{{ job.email }}</td>
            <td>
             <a href="{{ path('bootcamp_panel_details', {'id': job.id}) }}" >Szczegóły</a> &nbsp;
            </td>
        </tr>
    {% else %}
        <tr>
          <td colspan="4">Brak ofert pracy!</td>
        </tr>
       {% endfor %} 
    </tbody>
</table>
{# {{ knp_pagination_render(pagination) }}#}
{% endblock %}