{% extends "BootcampLayoutBundle::layout.html.twig" %}

{% block title %}BootcampPanelBundle:Job:details{% endblock %}

{% block body %}
<h1>{{ block('title') }}</h1>
  <div>
  <p>{{ job.slug }}</p>
		
			<p>{{ job.slug }}</p>
			
			<img src="{{ asset('uploads/logo/') }}" alt ="{{ job.slug }}">
			<p>Dodany , dnia {{ job.createdAt|date('y-m-d H:i:s') }}</p>
</div>
{% endblock %}
