{% extends "BootcampLayoutBundle::layout.html.twig" %}

{% block title %}Szczegóły ogłoszenia:
    {{ job.slug }}
{% endblock %}

{% block body %}
<h3>{{ block('title') }}</h3>
    <div>
      <p>
          {{ job.description }}
      </p>
    <p>Dodany , dnia {{ job.createdAt|date('y-m-d H:i:s') }}</p>
<a href="{{ path('bootcamp_panel_new') }}" class="btn btn-primary pull-center">Aplikuj</a>
    </div>
{% endblock %}
