{% extends "BootcampLayoutBundle::layout.html.twig" %}

{% block title %}Oferty pracy{% endblock %}

{% block body %}
<h1>Dodane oferty pracy:</h1>

<a href="{{ path('bootcamp_panel_new') }}" class="btn btn-primary pull-right">Dodaj ofertę pracy</a>


<table class="table table-hover">
    <thead>
        <tr>
          <th>#</th>
          <th>Nazwa firma</th>
          <th>Stanowisko</th>
          <th>Lokalizacja</th>
          <th>E-mail</th>
          <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        {% for job in pages %}
            <tr>
              <td>{{ job.id }}</td>
              <td>{{ job.campanyName }}</td>
              <td>{{ job.position }}</td>
              <td>{{ job.location }}</td>
              <td>{{ job.email }}</td>
              <td>
                  <a href="#" >Szczegóły</a> &nbsp;
                  <a href="{{ path('bootcamp_panel_edit', {'id': job.id}) }}">Edytuj</a></a> &nbsp;
                  <a href="{{ path('bootcamp_panel_delete', {'id': job.id}) }}" >Usuń </a>
              </td>
            </tr>
        {% else %}
            <tr>
              <td colspan="4">Brak ofert pracy!</td>
            </tr>
        {% endfor %}
        
        
    </tbody>
</table>

         {{ knp_pagination_render(pages) }}
{% endblock %}
